EMAIL_ADDRESS=
EMAIL_PASSWORD=
IMAP_SERVER=imap.gmail.com
# For monitoring additional accounts, use suffix _2, _3, etc.:
# EMAIL_ADDRESS_2=
# EMAIL_PASSWORD_2=
# IMAP_SERVER_2=imap.gmail.com

DISCORD_WEBHOOK=
POLL_INTERVAL=30
DRY_RUN=false
LOG_LEVEL=INFO
WISE_ACCOUNT_NUMBER=123456789
